# Copyright (c) 2026 AmineTheJurk
set timeout=5
set default=0

insmod ext2
insmod all_video

menuentry "JurkOS 1.0.0 Alpha (64-bit Edition)" {
    search --no-floppy --file --set=root /.jurkos_root
    linux /boot/grub/kernel-x86_64 root=PARTUUID=12345678-01 rootwait rootdelay=10 rw init=/sbin/main console=ttyS0 console=tty0
    boot
}

menuentry "JurkOS 1.0.0 Alpha (32-bit Edition)" {
    search --no-floppy --file --set=root /.jurkos_root
    linux /boot/grub/kernel-x86 root=PARTUUID=12345678-01 rootwait rootdelay=10 rw init=/sbin/main console=ttyS0 console=tty0
    boot
}
